
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(248, 241, 244);
}

h1 {
  font-size: x-large;
  text-align: right;
  margin: 25px;
  padding: 10px;
}

#locations h2{
  font-size: x-large;
  text-align: center;
  margin: 10px;
  border: 0px;
  padding: 10px;
  background-color: rgb(248, 241, 244);
  color: #753c54;
  border-radius: 20px;
}

#locations {
  font-size: large;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 0px;
  padding: 5px;
  background-color: #e9d5f1;
  text-align: left;
  border-radius: 20px;
  width: 1200px;
}

div {
  font-size: large;
  margin: 10px;
  border: 0px;
  padding: 10px;
  border-radius: 20px;
  width: auto;
}

table {
  margin: 0px;
  background-color: #753c54;
  color: #FFFFFF;
  height:100%;
  border-radius: 20px;
}

article {
  margin: 10px;
  margin-top: 30px;
  border: 0px;
  padding: 10px;
  background-color: #753c54;
  color: #FFFFFF;
  height:100%;
  border-radius: 20px;
  width: auto;
  float: left
}

table th {
  text-align: center;
  width: 200px;
  margin: 10px;
  border: none;
  padding: 5px;
  align-items: center;
}

td {
  text-align: center;
  width: auto;
  background-color: #e9d5f1;
  color: #753c54;
  border-radius: 20px;
}
